#new-idea.reveal-modal
  %form{ action: "/#{idea.id}", method: 'POST' }
    -if idea.id
      %h2 Edit your Idea
    -else
      %h2 Create your New Idea!
      %p
        %em For Rizzle.
    %input{name: "idea[title]", placeholder: "Title", type: "text"}/
    %textarea{name: "idea[description]", placeholder: "Description"}
    %input{name: "idea[tags]", placeholder: "Tags - ex: Eat, Sleep, Breath", type: "text"}/
    -if idea.id
      %input.button.new{type: "submit", value: "EDIT THAT MUG!"}/
    -else
      %input.button.new{type: "submit", value: "POW!"}/
  %a.close-reveal-modal ×
