%form{ action: "/#{idea.id}", method: 'POST' }
  -if idea.id
    %p Edit Your Idea:
    %input{ type: "hidden", name: "_method", value: "put" }
  -else
    %p Your Idea:
  %input{ type: 'text', name: 'idea[title]', value: "#{idea.title}" }
  %br
  %textarea{ name: "idea[description]" }
    =idea.description
  %input{ type: 'submit' }
